<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" packages="org.zahid.apps.web.pos.logging">
    <Appenders>
        <RollingFile name="RollingFile"
                     fileName="${sys:catalina.home}/logs/pos"
                     filePattern="${sys:catalina.home}/logs/pos-%d{yyyy-MM-dd}-%i.log.zip">
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        <Console name="StandardOut" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile" level="info"/>
            <AppenderRef ref="StandardOut" level="info"/>
        </Root>
        <Logger name="org.zahid" level="debug" additivity="false">
            <AppenderRef ref="RollingFile" level="debug"/>
            <AppenderRef ref="StandardOut" level="debug"/>
        </Logger>
    </Loggers>
</Configuration>